
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Option</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.job}}</td>
        <td>{{user.genre}}</td>
        <td><a class="btn btn-default" href="javascript:void(0)" ng-click="updateUser(user)">Update</a></td>
    </tr>

    </tbody>
</table>
<button ng-click="show()">aaaaa</button>